$accent-color: #66cc99;
$highlight-color: white;
$main-text-color: #a6afb6;
$light-background: #3d3e42;
$dark-background: #252323;

$top-menu-height: 3.4rem;

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 100%;
  font-weight: normal;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: $dark-background;
  line-height: 22px;
  color: $main-text-color;
  padding-top: $top-menu-height;
  padding-bottom: 15px;
}

a {
  text-decoration: none;
  color: $accent-color;

  :hover {
    text-decoration: underline;
  }
}

p:not(:last-child) {
  margin-bottom: 10px;
}

/* Main flexbox setup, responsive 2 column main layout */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
}
.left {
  width: 25%;
  padding-right: 10px;
}
.right {
  width: 75%;
}

/* common */
.link-anchor {
  /* used to avoid internal page links to be partially hidden by top nav menu */
  display: block;
  position: relative;
  top: -$top-menu-height;
  visibility: hidden;
}

.container {
  max-width: 900px;
  background: $light-background;
  margin: 0px auto 0px;
  border-radius: 6px;
  padding: 1rem;

  &:not(:last-of-type) {
    margin-bottom: 15px;
  }
}

@mixin highlight-text {
  color: $highlight-color;
  font-weight: bold;
}

@mixin section-title-text {
  letter-spacing: 0.2rem;
  color: $accent-color;
  font-weight: bold;
  text-transform: uppercase;
}

.section-header {
  @include section-title-text;

  margin-bottom: 10px;
}

.navbar {
  width: 100%;
  /* keep it floating at the top */
  position: fixed;
  top: 0;
  /* this will center the navbar horizontally */
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  background-color: $dark-background;

  .navbar-list {
    ul {
      display: flex;

      li {
        list-style: none;
  
        a {
          @include section-title-text;
        
          display: block;
          padding: 1rem;
          text-decoration: none;
        }
  
        &:hover {
          background-color: $light-background;
        }
      }
    }
  }
  
  .burger-button {
    /* using css to draw button instead of svg, icon etc. */
    position: absolute;
    top: 10px; 
    right: 10px; 
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 31px;
    background-color: $dark-background;
    padding: 5px;
    display: none;

    .burger-line {
      height: 3px;
      width: 100%;
      background-color: $highlight-color; 
      border-radius: 5px;
    }
  }
}

.about  {
  .avatar {
    align-self: center;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
  }
  .full-name {
    line-height: 40px;
    text-transform: uppercase;
    color: $accent-color;
    font-size: 2.5rem;
  }
  .first-name {
    font-weight: bold;
  }
  .last-name {
    font-weight: 300;
  }
  .contact-info {
    font-weight: 300;
  }
  .main-title {
    @include highlight-text;
  
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 1.3rem;
  }
}

.experience {
  &:not(:first-of-type) {
    padding-top: 15px;
  }
  &:not(:last-of-type) {
    padding-bottom: 15px;
    border-bottom: 1px solid $dark-background;
  }
  .company-logo {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
  }
  .company-details {
    display: flex;
    flex-direction: column;
  }
  .company-name, .role-title {
    @include highlight-text;
  }
  .role-type {
    font-weight: 300;
    margin-bottom: 10px;
  }
  .role-details {
    font-weight: normal;
  }
  
  .header {
    @include highlight-text;

    letter-spacing: 0.1rem;
    text-transform: uppercase;

    &:first-of-type {
      margin-top: 10px; 
    }
  }
}

.technology-area {
  @include highlight-text;
}

@media all and (max-width: 600px) {
  /* Small screens, all in one column, center some stuff */
  body {
    padding-top: 0;
  }
  .row {
    flex-direction: column;
  }
  .column {
    padding-right: 0px;
  }
  .left, .right {
    width: 100%;
  }
  .name-and-links {
    text-align: center;
  }
  .company-logotype {
    margin-top: 0px;
  }

  .link-anchor {
    /* no need to offset anchors in mobile mode since no top nav menu exist here */
    top: 0rem;
  }

  /* navbar stuff */
  .navbar {
    right: 0;
    flex-direction: column;

    .burger-button {
      display: flex;
    }

    .navbar-list {
      width: 100%;

      /* display is controlled via js, "open" class below */
      display: none;

      ul {
        width: 100%;
        flex-direction: column;
        li {
          text-align: center;
          a {
            padding: .5rem 1rem;
          }
        }
      }

      &.open {
        /* used by js code to show/hide burger menu */
        display: flex;
      }
    }
  }

  /* place company logo LEFT of company details */
  .company-details {
    flex-direction: row;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}