* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 100%;
  font-weight: normal;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: #252323;
  line-height: 22px;
  color: #a6afb6;
  padding-bottom: 15px;
}

a {
  text-decoration: none;
  color: #66cc99;
}
a:hover {
  text-decoration: underline;
}

p:not(:last-child) {
  margin-bottom: 10px;
}

.container {
  max-width: 900px;
  background: #3d3e42;
  margin: 0px auto 0px;
  border-radius: 6px;
  padding: 15px;
  margin-top: 15px;
}

/* Flexbox setup, responsive 2 column main layout */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
}
.left {
  width: 25%;
  padding-right: 10px;
}
.right {
  width: 75%;
}

/* common */
.hightlight {
  color: white;
  font-weight: bold;
}

.section-title {
  letter-spacing: 0.2rem;
  color: #66cc99;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* main header */
.main-header .avatar {
  align-self: center;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 50%;
}
.main-header .full-name {
  line-height: 40px;
  text-transform: uppercase;
  color: #66cc99;
  font-size: 2.5rem;
}
.main-header .first-name {
  font-weight: bold;
}
.main-header .last-name {
  font-weight: 300;
}
.main-header .contact-info {
  font-weight: 300;
}
.main-header .main-title {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 1.3rem;
}

/* experience */
.experience-section:not(:first-of-type) {
  padding-top: 15px;
}
.experience-section:not(:last-of-type) {
  padding-bottom: 15px;
  border-bottom: 1px solid #252323;
}
.company-logotype {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}
.company-details {
  display: flex;
  flex-direction: column;
}
.experience-company {
  color: white;
  font-weight: bold;
}
.experience-role-type {
  font-weight: 300;
}
.experience-role {
  margin-bottom: 10px;
}
.experience-role-title {
  color: white;
  font-weight: bold;
}
.experience-role-details {
  font-weight: normal;
}
.experience-section .header:first-of-type {
  margin-top: 10px; 
}
.experience-section .header {
  letter-spacing: 0.1rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  margin-right: 6px;
}

@media all and (max-width: 600px) {
  /* Small screens, all in one column, center some stuff */
  .row {
    flex-direction: column;
  }

  .column {
    padding-right: 0px;
  }

  .left, .right {
    width: 100%;
  }

  .name-and-links {
    text-align: center;
  }

  .company-logotype {
    margin-top: 0px;
  }

  /* place company logo  left of company details */
  .company-details {
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}