* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  background: #252323;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: #9099a0;
  padding-bottom: 2em;
}
a {
  text-decoration: none;
  color: #66cc99;
}
a:hover {
  text-decoration: underline;
}
.container {
  max-width: 65em;
  background: #3d3e42;
  margin: 0px auto 0px;
  border-radius: 6px;
  padding: 1.5em;
  margin-top: 2em;
}
.left, .right {
  vertical-align: top;
  display: inline-block;
}
.left {
  width: 25%;
}
.right {
  width: 74%;
}
.header {
  margin-bottom: 30px;
}
.header .avatar {
  max-width: 100%;
  height: auto;
  padding-right: 10px;
  border-radius: 50%;
}
.header .full-name {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #66cc99;
  margin-bottom: 5px;
}
.full-name .first-name {
  font-weight: 700;
}
.full-name .last-name {
  font-weight: 350;
}
.header .contact-info {
  font-weight: 300;
  margin-bottom: 20px;
}
.contact-info .value {
  color: white;
}
.header .separator {
  height: 10px;
  display: inline-block;
  border-left: 2px solid #999;
  margin: 0px 10px;
}
.about .title {
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
}
.about .summary {
  margin-bottom: 10px;
}
.details .section {
  margin-bottom: 40px;
}
.details .section:last-of-type {
  margin-bottom: 0px;
}
.section .title {
  letter-spacing: 2px;
  color: #66cc99;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.section .item {
  margin-bottom: 25px;
}
.section .name {
  color: white;
  font-weight: bold;
}
.section .type {
  font-weight: 300;
}
.section .role {
  margin-bottom: 10px;
}
.role .role-title {
  color: white;
  font-weight: bold;
}
.role .role-details {
  font-weight: normal;
}
.section .description {
  margin-bottom: 10px;
}
.section .description:last-of-type {
  margin-bottom: 0px;
}
.description .header {
  color: white;
  text-transform: uppercase;
  margin-right: 10px;
}