* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 100%;
  font-weight: normal;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: #252323;
  line-height: 22px;
  color: #a6afb6;
  padding-top: 3.4rem;
  padding-bottom: 15px;
}

a {
  text-decoration: none;
  color: #66cc99;
}

a :hover {
  text-decoration: underline;
}

p:not(:last-child) {
  margin-bottom: 10px;
}

/* Main flexbox setup, responsive 2 column main layout */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left {
  width: 25%;
  padding-right: 10px;
}

.right {
  width: 75%;
}

/* common */
.link-anchor {
  /* used to avoid internal page links to be partially hidden by top nav menu */
  display: block;
  position: relative;
  top: -3.4rem;
  visibility: hidden;
}

.container {
  max-width: 900px;
  background: #3d3e42;
  margin: 0px auto 0px;
  border-radius: 6px;
  padding: 1rem;
}

.container:not(:last-of-type) {
  margin-bottom: 15px;
}

.section-header {
  letter-spacing: 0.2rem;
  color: #66cc99;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* navbar */
.navbar {
  width: 100%;
  /* keep it floating at the top */
  position: fixed;
  top: 0;
  /* this will center the navbar horizontally */
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #252323;
}

.navbar-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-list li {
  list-style: none;
}

.navbar-list li a {
  letter-spacing: 0.2rem;
  color: #66cc99;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  padding: 1rem;
  text-decoration: none;
}

.navbar-list li:hover {
  background-color: #3d3e42;
}

.burger-button {
  /* using css to draw button instead of svg, icon etc. */
  position: absolute;
  top: 10px;
  right: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40px;
  height: 31px;
  background-color: #252323;
  padding: 5px;
  display: none;
}

.burger-button .burger-line {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
}

/* about section */
.about .avatar {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 50%;
}

.about .full-name {
  line-height: 40px;
  text-transform: uppercase;
  color: #66cc99;
  font-size: 2.5rem;
}

.about .first-name {
  font-weight: bold;
}

.about .last-name {
  font-weight: 300;
}

.about .contact-info {
  font-weight: 300;
}

.about .main-title {
  color: white;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 1.3rem;
}

/* experience */
.experience:not(:first-of-type) {
  padding-top: 15px;
}

.experience:not(:last-of-type) {
  padding-bottom: 15px;
  border-bottom: 1px solid #252323;
}

.experience .company-logo {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}

.experience .company-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.experience .company-name, .experience .role-title {
  color: white;
  font-weight: bold;
}

.experience .role-type {
  font-weight: 300;
  margin-bottom: 10px;
}

.experience .role-details {
  font-weight: normal;
}

.experience .header:first-of-type {
  margin-top: 10px;
}

.experience .header {
  color: white;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

/* technology */
.technology-area {
  color: white;
  font-weight: bold;
}

@media all and (max-width: 600px) {
  /* Small screens, all in one column, center some stuff */
  body {
    padding-top: 0;
  }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .column {
    padding-right: 0px;
  }
  .left, .right {
    width: 100%;
  }
  .name-and-links {
    text-align: center;
  }
  .company-logotype {
    margin-top: 0px;
  }
  .link-anchor {
    /* no need to offset anchors in mobile mode since no top nav menu exist here */
    top: 0rem;
  }
  /* navbar stuff */
  .navbar {
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .burger-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-list {
    /* controlled via js */
    display: none;
    width: 100%;
  }
  .navbar-list ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-list ul li {
    text-align: center;
  }
  .navbar-list ul li a {
    padding: .5rem 1rem;
  }
  .navbar-list.open {
    /* used by js code to show/hide burger menu */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /* place company logo LEFT of company details */
  .company-details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
/*# sourceMappingURL=style.css.map */